<footer>
    <div class="inner">
        <p class="footer-text">2017, Hongsik Alex Lee<br>
            <a href="{{ site.facebook }}">
                <span class="fa-stack fa-sm">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="{{ site.github }}">
                <span class="fa-stack fa-sm">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </p>
    </div>
</footer>