<!DOCTYPE html>
<html lang="{{ site.lang }}" prefix="og: http://ogp.me/ns#">
<head>
	{% include head.html %}
</head>
<body>
	<div id="fb-root"></div>
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.8";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	{% if page.cover-image %}
	<div class="cover-image-container">
		<img alt="Cover image" src="{{ site.baseurl }}/img/covers/{{ page.cover-image }}">
	</div>
	{% endif %}
	<div class="wrap">
		{% include header.html %}
		{{ content }}
	  <script>
	    $("article").fitVids();
	    $('article p').each(function(i){
				if (($(this).find('img').length) && (!$.trim($(this).text()).length))  {
					$(this).addClass('img-only');
				}
				if ($.trim($(this).text()).length - $.trim($(this).find('small').text()).length == 0 && ($(this).find('img').length)){
					$(this).addClass('img-only-source');
				}
	  	});
	  </script>
	</div>
	{% include footer.html %}
</body>
</html>
